<div class="container">
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/21/Pacific_Gas_and_Electric_Company_%28logo%29.svg/800px-Pacific_Gas_and_Electric_Company_%28logo%29.svg.png" alt="" width="50" height="50">
  <div class="topleft"></div>
  <div class="header">
    <h2>GIS</h2>
  </div>  
  <!--- Operating Number --->
  <form class="form-inline">
    <div id="wrapper"></div>
    <div class="container">
      <div class="row">
        <div class="col-*-*">
   
    <label for="inputOperationNo" class="col-sm-2 col-form-label">Operating #: </label>
    <input type="text" readonly class="form-control-plaintext"
      id="inputOperationno"
      >

  </div> 
  <div class="form-group">
   
      <label class="sr-only" for="inputPassword">  Division: </label>
      <input type="text" class="form-control" id="inputPassword">
      <label class="sr-only" for="inputPassword"> Location: </label>
      <input type="text" class="form-control" id="inputPassword">

    </div>   
    <div class="form-group">
  
    <label for="inputlocation"> Feeder Name: </label>
    <input type="text"
      id="inputlocation" readonly
        >
        <label class="sr-only" for="inputPassword"> Feeder # </label>
      <input type="text" class="form-control" id="inputPassword">
      
</div>
<div class="form-group">
 
<label for="inputlocation"> Circuit Map: </label>
<input type="text"
  id="inputlocation" readonly
    >
    <label class="sr-only" for="inputPassword"> Distribution Map: </label>
  <input type="text" class="form-control" id="inputPassword">
   
</div>

<div class="form-group">
  
<label for="inputlocation"> Peak Load: </label>
<input type="text"
  id="inputlocation" readonly
    >
    <label class="sr-only" for="inputPassword"> CC Rating: </label>
  <input type="text" class="form-control" id="inputPassword">
 
</div>

<div class="form-group">

<label for="inputlocation"> Max Sym Amps: </label>
<input type="text"
  id="inputlocation" readonly
    >
    <label class="sr-only" for="inputPassword"> Max ASym Amps: </label>
  <input type="text" class="form-control" id="inputPassword">
  
</div>
</div>
    </div>
    
   
