<body>
  <div class="container">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/21/Pacific_Gas_and_Electric_Company_%28logo%29.svg/800px-Pacific_Gas_and_Electric_Company_%28logo%29.svg.png" alt="" width="50" height="50">
    <div class="topleft"></div>
    <div class="header">
      <h2>Settings</h2>
    </div>  
    <div class="title">
      <h3><u> Device information</u></h3>
    </div> 
    <!--- Operating Number --->
    <form class="form-inline">
      <div id="wrapper">
      <div class="container">
        <div class="row">
          <div class="col-*-*">

      <label for="inputOperationNo" class="col-sm-2 col-form-label">Operating #: </label>
      <input type="text" readonly class="form-control-plaintext"
        id="inputOperationno"
        >
  
        <label class="sr-only" for="inputPassword">  Division: </label>
        <input type="text" class="form-control" id="inputPassword">
        <label class="sr-only" for="inputPassword"> Feeder Name: </label>
        <input type="text" class="form-control" id="inputPassword">
     
    </div> 
    <div class="form-group">
    
      <label for="inputlocation"> Location :</label>
      <input type="text"
        id="inputlocation" readonly
          >
         
  </div>
  <div class="title">
    <h3><u> Device information</u></h3>
  </div> 
  <div class="form-group">

    <label for="devicetype"> Device Type:</label>
    <input type="text"
      id="inputdevtype" readonly
      >

          <div class="form-group">
      
            <label for="engicomments"> Engineering Comments :</label>
            <input type="text1"
              id="engicomments" readonly
              >
      
            <div class="form-group">
         
              <label for="engicomments"> Bypass Plan:</label>
              <input type="text1"
                id="engicomments" readonly
                >
          
              <div class="title">
                <h3><u>Settings information</u></h3>
              </div>   
  
             
              <div class="title">
                <h3><u>Normal-Initial Trip</u></h3>
              </div>     
  
  <div class="form-group">
   
    <label for="minacucurrent">Emulated Device :</label>
    <input type="text"
      id="minacucurrent" readonly
      >
      <label class="sr-only" for="mingroundcurrent"> Curve Type: </label>
          <input type="text" class="form-control" id="inputPassword">
          <label class="sr-only" for="mingroundcurrent"> Time Multiplier: </label>
          <input type="text" class="form-control" id="inputPassword">

      <div class="form-group">
      
        <label for="resettime">Minimum Trip,A:</label>
        <input type="text"
          id="resettime" readonly
          >
      </div>
      <div class="form-group">
     
        <label for="resettime">Inst. Trip,A:</label>
        <input type="text"
          id="resettime" readonly
          >
      </div>
      </div>
         
      </div>
  </div>
  