<body>
  <div class="container">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/21/Pacific_Gas_and_Electric_Company_%28logo%29.svg/800px-Pacific_Gas_and_Electric_Company_%28logo%29.svg.png" alt="" width="50" height="50">
    <div class="topleft"></div>
    <div class="header">
    </div>  
    <div class="title">
      <h3><u> Device information</u></h3>
    </div> 
    <!--- Operating Number --->
    <form class="form-inline">
      <div class="container">
        <div id="wrapper">
        <div class="row">
          <div class="col-*-*">
    
      <label for="inputOperationNo" class="col-sm-2 col-form-label">Operating #: </label>
      <input type="text" readonly class="form-control-plaintext"
        id="inputOperationno"
        >
  
        <label class="sr-only" for="inputPassword">  Division: </label>
        <input type="text" class="form-control" id="inputPassword">
        <label class="sr-only" for="inputPassword"> Feeder Name: </label>
        <input type="text" class="form-control" id="inputPassword">
      
    </div> 
    <div class="form-group">
  
      <label for="inputlocation"> Location :</label>
      <input type="text"
        id="inputlocation" readonly
          >
      
  </div>
  
  <div class="form-group">

    <label for="devicetype"> Device Type:</label>
    <input type="text"
      id="inputdevtype" readonly
      >
   
      <div class="form-group">
      
        <label for="devicetype"> Controller Unit Model:</label>
        <input type="text"
          id="inputdevtype" readonly
          >
    
          <div class="form-group">
     
            <label for="devicetype"> SCADA:</label>
            <input type="text"
              id="inputdevtype" readonly
              >
         
          <div class="form-group">
       
            <label for="engicomments"> Engineering Comments :</label>
            <input type="text1"
              id="engicomments" readonly
              >
   
              <div class="title">
                <h3><u>Settings information</u></h3>
              </div>   
  
  <div class="form-group">
  
       
    <label for="minacucurrent">High Voltage Override Setpoint(V) :</label>
    <input type="text"
      id="minacucurrent" readonly
      >
      <label class="sr-only" for="mingroundcurrent"> Low Voltage Override Setpoint(V) : </label>
          <input type="text" class="form-control" id="inputPassword">
          <label class="sr-only" for="mingroundcurrent"> Estimated Bank Voltage Change : </label>
          <input type="text" class="form-control" id="inputPassword">

    <div class="row">
      <div class="column1"> 
        <h3><u>Season 1</u></h3>
        

            <label for="inputOperationNo" class="col-sm-2 col-form-label">Control Strategy: </label>
            <input type="text1" readonly class="form-control-plaintext"
              id="inputOperationno"
              >
              
                <label for="inputOperationNo" class="col-sm-2 col-form-label">Start Date: </label>
                <input type="text1" readonly class="form-control-plaintext"
                  id="inputOperationno"
                  >

                  <label for="inputOperationNo" class="col-sm-2 col-form-label">End Date: </label>
                <input type="text1" readonly class="form-control-plaintext"
                  id="inputOperationno"
                  >
                  <label for="inputOperationNo" class="col-sm-2 col-form-label">Time setpoint on: </label>
                <input type="text1" readonly class="form-control-plaintext"
                  id="inputOperationno"
                  >
                  <label for="inputOperationNo" class="col-sm-2 col-form-label">Time setpoint off: </label>
                <input type="text1" readonly class="form-control-plaintext"
                  id="inputOperationno"
                  >
                  <label for="inputOperationNo" class="col-sm-2 col-form-label">Low voltage setpoint: </label>
                  <input type="text1" readonly class="form-control-plaintext"
                    id="inputOperationno"
                    >
                    <label for="inputOperationNo" class="col-sm-2 col-form-label">High voltage setpoint: </label>
                    <input type="text1" readonly class="form-control-plaintext"
                      id="inputOperationno"
                      >
                      <label for="inputOperationNo" class="col-sm-2 col-form-label">Temp. setpoint on: </label>
                      <input type="text1" readonly class="form-control-plaintext"
                        id="inputOperationno"
                        >
                        <label for="inputOperationNo" class="col-sm-2 col-form-label">Temp. setpoint off: </label>
                        <input type="text1" readonly class="form-control-plaintext"
                          id="inputOperationno"
                          >
                          <label for="inputOperationNo" class="col-sm-2 col-form-label">KVAR setpoint on: </label>
                          <input type="text1" readonly class="form-control-plaintext"
                            id="inputOperationno"
                            >
                            <label for="inputOperationNo" class="col-sm-2 col-form-label">KVAR setpoint off: </label>
                            <input type="text1" readonly class="form-control-plaintext"
                              id="inputOperationno"
                              >
                              <label for="inputOperationNo" class="col-sm-2 col-form-label">Curr setpoint on: </label>
                              <input type="text1" readonly class="form-control-plaintext"
                                id="inputOperationno"
                                >
                                <label for="inputOperationNo" class="col-sm-2 col-form-label">Curr setpoint off: </label>
                                <input type="text1" readonly class="form-control-plaintext"
                                  id="inputOperationno"
                                  >


      </div>
      <div class="column">
        <h3><u>Season 2</u></h3>
       


      </div>

      <div class="column">
        <h3><u>Season 3</u></h3>
     


      </div>
      <div class="column">
        <h3><u>Season 4</u></h3>
      
            


      </div>
    </div> 
  </div>
