<body>
  <div class="container">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/21/Pacific_Gas_and_Electric_Company_%28logo%29.svg/800px-Pacific_Gas_and_Electric_Company_%28logo%29.svg.png" alt="" width="50" height="50">
    <div class="topleft"></div>
    
    <!--- Operating Number --->
    <form class="form-inline">
      <div class="container">
        <div id="wrapper">
        <div class="row">
          <div class="col-*-*">
      
      <label for="inputOperationNo" class="col-sm-2 col-form-label">Operating #: </label>
      <input type="text" readonly class="form-control-plaintext"
        id="inputOperationno"
        >
        <div class="title">
          <h3><u> Alt #1</u></h3>
        </div> 
        
              <div class="row">
                <div class="column"> 
                  <h3><u></u></h3>
                  <label for="engicomments"> Minimum Trip(Phase):</label>
                  <input type="text2"
                    id="engicomments" readonly
                    > 
                    <label for="engicomments"> Inst. Trip(Phase):</label>
                    <input type="text2"
                      id="engicomments" readonly
                      > 
                      <div class="title1">
                        <h3><u>TCC1:Fast Curves</u></h3>
                      </div> 
                      <label for="engicomments"> Fast Curve(Phase):</label>
                  <input type="text2"
                    id="engicomments" readonly
                    > 
                    <label for="engicomments"> VMul Fast(Phase):</label>
                    <input type="text2"
                      id="engicomments" readonly
                      > 
                      <label for="engicomments"> TAdd Fast(Phase):</label>
                    <input type="text2"
                      id="engicomments" readonly
                      > 
                      <div class="title1">
                        <h3><u>TCC1:Slow Curves</u></h3>
                      </div> 
                      <label for="engicomments"> Slow Curve(Phase):</label>
                      <input type="text2"
                        id="engicomments" readonly
                        > 
                        <label for="engicomments"> VMul Slow(Phase):</label>
                        <input type="text2"
                          id="engicomments" readonly
                          > 
                          <label for="engicomments"> TAdd Slow(Phase):</label>
                        <input type="text2"
                          id="engicomments" readonly
                          > 
                </div>
                <div class="column">
                  <h3><u></u></h3>
                 

                    <label for="engicomments"> Minimum Trip(Ground):</label>
                  <input type="text2"
                    id="engicomments" readonly
                    > 
                    <label for="engicomments"> Inst. Trip(Ground):</label>
                    <input type="text2"
                      id="engicomments" readonly
                      > 
                      <div class="title1">
                        <h3><u><br></u></h3>
                      </div>
                      <label for="engicomments"> Fast Curve(Ground):</label>
                  <input type="text2"
                    id="engicomments" readonly
                    > 
                    <label for="engicomments"> VMul Fast(Ground):</label>
                    <input type="text2"
                      id="engicomments" readonly
                      > 
                      <label for="engicomments"> TAdd Fast(Ground):</label>
                    <input type="text2"
                      id="engicomments" readonly
                      > 
                      <div class="title1">
                        <h3><u><br></u></h3>
                      </div> 
                      <label for="engicomments"> Slow Curve(Ground):</label>
                      <input type="text2"
                        id="engicomments" readonly
                        > 
                        <label for="engicomments"> VMul Slow(Ground):</label>
                        <input type="text2"
                          id="engicomments" readonly
                          > 
                          <label for="engicomments"> TAdd Slow(Ground):</label>
                        <input type="text2"
                          id="engicomments" readonly
                          > 
          
                </div>
          
                <div class="column">
                  <h3><u></u></h3>
              
                    <label for="engicomments"> Ops to lockout:</label>
                    <input type="text2"
                      id="engicomments" readonly
                      > 
                      <label for="engicomments"> 1st reclose:</label>
                      <input type="text2"
                        id="engicomments" readonly
                        > 
                        <label for="engicomments"> 2nd reclose:</label>
                        <input type="text2"
                          id="engicomments" readonly
                          > 
                          <label for="engicomments"> 3rd reclose:</label>
                          <input type="text2"
                            id="engicomments" readonly
                            > 
                            <label for="engicomments"> Reset time:</label>
                            <input type="text2"
                              id="engicomments" readonly
                              > 
                              <label for="engicomments"> Sensitive Ground Fault(SGF):</label>
                              <input type="text2"
                                id="engicomments" readonly
                                > 
                                <br>
                                <br>
                                <br>
                                <label for="engicomments"> Cold Load Pickup Enabled:</label>
                              <input type="text2"
                                id="engicomments" readonly
                                > 
                                <label for="engicomments"> Phase MTT:</label>
                              <input type="text2"
                                id="engicomments" readonly
                                > 
                                <label for="engicomments"> Ground MTT:</label>
                              <input type="text2"
                                id="engicomments" readonly
                                > 

                                         
                                    </div>
     </div>
