.header {
  padding: 1px;
  text-align: center;
  background:#0099ff;
  color: white;
  height:40px;
  width:auto;
  
}
  
  input[type=text], select {
    width: 15%;
    padding: 2px 5px;
    margin: 2px 0;
    display: inline-block;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 1px;
    box-sizing: border-box;
    -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #f1f1f1;
  padding: 10px;
  border: 1px solid #aaaaaa;
  }
  input[type="text1"],select{
    width: 48%;
    padding: 50px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    box-sizing: border-box;
    -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #f1f1f1;
  padding: 10px;
  
  }
  input[type="text2"],select{
    width: 25%;
    padding: 50px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    box-sizing: border-box;
    -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #f1f1f1;
  padding: 10px;
  
  }
  .title{
    padding: 10px;
    text-align: center;
    color: #0099ff;
    font-size: 15px;
  }
  .title1{
  
    padding: 10px;
    color: #0099ff;
    font-size: 15px;
  }
  .row{
  
    color: #0099ff;
    font-size: 15px;
  }
  
  
  
  label {
  color: #0099ff;
  font-weight: bold;
  display: inline-block;
  width: 200px;
  text-align: right;
  padding:5px;
  border:1px solid;
  margin:5px;
  
  }
  html,body{
    width: 100%;
    height: 100%;
    margin: 0; 
    padding: 0; 
    border: solid blue;
    border-width: thin;
    overflow:hidden;
    display:block;
    box-sizing: border-box;
  }
  .column {
    float: left;
    width: 30%;
  }
  
  /* Clear floats */
  .row:after {
    content: "";
    display: table;
     clear: both;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
    
   
  input[type=text]{
    padding:3px;
    margin-bottom:6px; /* Reduced from whatever it currently is */
    margin-top:6px; /* Reduced from whatever it currently is */
  }
  input[type=text1]{
    padding:3px;
    margin-bottom:6px; /* Reduced from whatever it currently is */
    margin-top:6px; /* Reduced from whatever it currently is */
  }
  input[type=text2]{
    padding:3px;
    margin-bottom:6px; /* Reduced from whatever it currently is */
    margin-top:6px; /* Reduced from whatever it currently is */
  }

  #wrapper {
    margin-left:auto;
    margin-right:auto;
    width:1200px;
    margin: 0 auto; 
}

* {
  margin: 0;
  padding: 0;
}

input {
  padding: 10px 10px 10px 30px;
  width: 200px;
  border: solid 1px lightgray;
  border-radius: 20px;
}

label {
  background-color: #f1f1f1;
  padding: 2.5px;
  border-radius: 2px;
  color: #0099ff;
  border: 1px solid #ccc;
  font-weight: bold;
  margin-right: -8px;
  margin-left:10px;
  z-index: 999999;
  position: relative;
}
  
      

   
  