<body>
  <div class="container">
  
    <div class="topleft"></div>
    <div class="header">
      <h2>Settings</h2>
    </div>  
    <div class="title">
      <h3><u> Device information</u></h3>
    </div>
    <!--- Operating Number --->
    
    <form class="form-inline">
     <div id="wrapper">
      <div class="container">
        <div class="row">
          <div class="col-*-*">
            <div class="input-group">
  
        
      <label for="inputOperationNo" class="field">Operating #: </label>
     <input type="text" readonly class="form-control-plaintext"
        id="inputOperationno"
        > 
     
  
        <label class="sr-only" for="inputPassword">  Division: </label>
        <input type="text" class="form-control" id="inputPassword">
            
        <label class="sr-only" for="inputPassword"> Feeder Name: </label>
        <input type="text" class="form-control" id="inputPassword">
      </div>
          </div>
    </div> 
    <div class="form-group">
      <div class="col-xs-6 col-sm-4">
    
      <label for="inputlocation"> Location :</label>
      <input type="text"
        id="inputlocation" readonly
          >
          <label class="sr-only" for="inputPassword">  CC Rating: </label>
        <input type="text" class="form-control" id="inputPassword">
        
  </div>
   
  <div class="form-group">
    <div class="col-xs-6 col-sm-4">
    <label for="devicetype"> Device Type:</label>
    <input type="text"
      id="inputdevtype" readonly>
      </div>
  
  <div class="form-group">
    <div class="col-xs-6 col-sm-4">
  
    <label for="sectionalizertype"> Sectionalizer Type :</label>
    <input type="text"
      id="inputsectiontype" readonly
      >
      </div>
      <div class="form-group">
        <label for="flisrdevice"> FLISR Device:</label>
        <input type="text"
          id="flisrdevice" readonly
          >
          <label class="sr-only" for="inputPassword"> SCADA: </label>
          <input type="text2" class="form-control" id="inputPassword">
      </div>
     
      <div class="form-group">
        <label for="summerloadlimit"> Summer Load Limit(amps) :</label>
        <input type="text"
          id="summerloadlimit" readonly
          >
          <div class="form-group">
            <label for="winterloadlimit"> Winter Load Limt(amps):</label>
            <input type="text"
              id="winterloadlimit" readonly
              >
          </div>
        
          <div class="form-group">
            <label for="engicomments"> Engineering Comments :</label>
            <input type="text1"
              id="engicomments" readonly
              >
              <div class="title">
                <h3><u>Settings information</u></h3>
          
              </div>     
        
  <div class="form-group">
       
    <label for="minacucurrent">Minimum Actuating Current,A (Phase) :</label>
    <input type="text2"
      id="minacucurrent" readonly
      >
      <label class="sr-only" for="mingroundcurrent"> Minimum Actuating Current,A (Ground): </label>
          <input type="text2" class="form-control" id="inputPassword">
      <div class="form-group">
     
        <label for="resettime">Reset Time,s:</label>
        <input type="text2"
          id="resettime" readonly
          >
      </div>
      <div class="form-group">
        <label for="countto" >Count to lockout:</label>
        <input type="text2"
          id="countto" readonly
          >
         
      </div>
    </div>
     
  
  
  