<body>
  <div class="container">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/21/Pacific_Gas_and_Electric_Company_%28logo%29.svg/800px-Pacific_Gas_and_Electric_Company_%28logo%29.svg.png" alt="" width="50" height="50">
    <div class="topleft"></div>
    <div class="header">
      <h2>Settings</h2>
    </div>  
    <div class="title">
      <h3><u> Device information</u></h3>
    </div> 
    <!--- Operating Number --->
    <form class="form-inline">
      <div class="container">
        <div id="wrapper">
        <div class="row">
          <div class="col-*-*">
      
      <label for="inputOperationNo" class="col-sm-2 col-form-label">Operating #: </label>
      <input type="text" readonly class="form-control-plaintext"
        id="inputOperationno"
        >
  
        <label class="sr-only" for="inputPassword">  Division: </label>
        <input type="text" class="form-control" id="inputPassword">
        <label class="sr-only" for="inputPassword"> Feeder Name: </label>
        <input type="text" class="form-control" id="inputPassword">
   
    </div> 
    <div class="form-group">

      <label for="inputlocation"> Location :</label>
      <input type="text"
        id="inputlocation" readonly
          >
          <label for="inputlocation"> CC Rating :</label>
          <input type="text"
            id="inputlocation" readonly
              >
      
  </div>
 
  <div class="form-group">

    <label for="devicetype"> Device Type:</label>
    <input type="text"
      id="inputdevtype" readonly
      >
      <label for="devicetype"> Active Profile:</label>
    <input type="text"
      id="inputdevtype" readonly
      >
      <label for="devicetype"> Is Multi Functional?:</label>
    <input type="text"
      id="inputdevtype" readonly
      >
    
      <div class="form-group">
   
        <label for="devicetype"> Controller Unit Type:</label>
        <input type="text"
          id="inputdevtype" readonly
          >
          <label for="devicetype"> Firmware Version:</label>
        <input type="text"
          id="inputdevtype" readonly
          >

          <div class="form-group">
           
            <label for="devicetype"> Controller Serial #:</label>
            <input type="text"
              id="inputdevtype" readonly
              >
            
              <div class="form-group">
               
                <label for="devicetype"> FLISR Device:</label>
                <input type="text"
                  id="inputdevtype" readonly
                  >
                  <label for="devicetype"> SCADA:</label>
                <input type="text"
                  id="inputdevtype" readonly
                  >
                  <label for="devicetype"> Permit Reclose Block Cut-In:</label>
                <input type="text"
                  id="inputdevtype" readonly
                  >
               

                  <div class="form-group">
                 
                    <label for="devicetype"> Summer Load Limit(amps):</label>
                    <input type="text"
                      id="inputdevtype" readonly
                      >
            
                      <label for="devicetype">Transfer Trip:</label>
                    <input type="text"
                      id="inputdevtype" readonly
                      >
               

                      <div class="form-group">
                       
                        <label for="devicetype"> Winter Load Limit(amps):</label>
                        <input type="text"
                          id="inputdevtype" readonly
                          >
                         
      <div class="form-group">
          
            <label for="engicomments"> Engineering Comments :</label>
            <input type="text1"
              id="engicomments" readonly
              >
         
            <div class="form-group">
             
              <label for="engicomments"> Bypass Plan:</label>
              <input type="text1"
                id="engicomments" readonly
                >
            
              <div class="title">
                <h3><u>Settings information</u></h3>
              </div>   
  
             
              <div class="title">
                <h3><u>Normal</u></h3>
              </div>     
  
              <div class="row">
                <div class="column"> 
                  <h3><u></u></h3>
                  <label for="engicomments"> Minimum Trip(Phase):</label>
                  <input type="text2"
                    id="engicomments" readonly
                    > 
                    <label for="engicomments"> Inst. Trip(Phase):</label>
                    <input type="text2"
                      id="engicomments" readonly
                      > 
                      <div class="title1">
                        <h3><u>TCC1:Fast Curves</u></h3>
                      </div> 
                      <label for="engicomments"> Fast Curve(Phase):</label>
                  <input type="text2"
                    id="engicomments" readonly
                    > 
                    <label for="engicomments"> VMul Fast(Phase):</label>
                    <input type="text2"
                      id="engicomments" readonly
                      > 
                      <label for="engicomments"> TAdd Fast(Phase):</label>
                    <input type="text2"
                      id="engicomments" readonly
                      > 
                      <div class="title1">
                        <h3><u>TCC1:Slow Curves</u></h3>
                      </div> 
                      <label for="engicomments"> Slow Curve(Phase):</label>
                      <input type="text2"
                        id="engicomments" readonly
                        > 
                        <label for="engicomments"> VMul Slow(Phase):</label>
                        <input type="text2"
                          id="engicomments" readonly
                          > 
                          <label for="engicomments"> TAdd Slow(Phase):</label>
                        <input type="text2"
                          id="engicomments" readonly
                          > 
                </div>
                <div class="column">
                  <h3><u></u></h3>
                  <p style="color:#0099ff;">

                    <label for="engicomments"> Minimum Trip(Ground):</label>
                  <input type="text2"
                    id="engicomments" readonly
                    > 
                    <label for="engicomments"> Inst. Trip(Ground):</label>
                    <input type="text2"
                      id="engicomments" readonly
                      > 
                      <div class="title1">
                        <h3><u>  <br>    </u></h3>
                      </div> 
                      <label for="engicomments"> Fast Curve(Ground):</label>
                  <input type="text2"
                    id="engicomments" readonly
                    > 
                    <label for="engicomments"> VMul Fast(Ground):</label>
                    <input type="text2"
                      id="engicomments" readonly
                      > 
                      <label for="engicomments"> TAdd Fast(Ground):</label>
                    <input type="text2"
                      id="engicomments" readonly
                      > 
                      <div class="title1">
                        <h3><u>  <br>    </u></h3>
                      </div> 
                   
                      <label for="engicomments"> Slow Curve(Ground):</label>
                      <input type="text2"
                        id="engicomments" readonly
                        > 
                        <label for="engicomments"> VMul Slow(Ground):</label>
                        <input type="text2"
                          id="engicomments" readonly
                          > 
                          <label for="engicomments"> TAdd Slow(Ground):</label>
                        <input type="text2"
                          id="engicomments" readonly
                          > 
          
                </div>
          
                <div class="column">
                  <h3><u></u></h3>
             
                    <label for="engicomments"> Ops to lockout:</label>
                    <input type="text2"
                      id="engicomments" readonly
                      > 
                      <label for="engicomments"> 1st reclose:</label>
                      <input type="text2"
                        id="engicomments" readonly
                        > 
                      <br>
                        <label for="engicomments"> 2nd reclose:</label>
                        <input type="text2"
                          id="engicomments" readonly
                          > 
                       
                          <label for="engicomments"> 3rd reclose:</label>
                          <input type="text2"
                            id="engicomments" readonly
                            > 
                            <label for="engicomments"> Reset time:</label>
                            <input type="text2"
                              id="engicomments" readonly
                              > 
                              <label for="engicomments"> Sensitive Ground Fault(SGF):</label>
                              <input type="text2"
                                id="engicomments" readonly
                                > 
                                <div class="title1">
                                  <h3><u>  <br>    </u></h3>
                                </div> 
                               
                                <label for="engicomments"> Cold Load Pickup Enabled:</label>
                              <input type="text2"
                                id="engicomments" readonly
                                > 
                                <label for="engicomments"> Phase MTT:</label>
                              <input type="text2"
                                id="engicomments" readonly
                                > 
                                <label for="engicomments"> Ground MTT:</label>
                              <input type="text2"
                                id="engicomments" readonly
                                > 

      
      </div>
  </div>
  </div>
